APP_BRAND_NAME="your E-commerce brand name"
APP_WEBSITE_URL="https://www.yourwebsite.com"

NODE_ENV="development"

# Connection for Prisma Client (pooled, port 6543)
DATABASE_URL_PJME="postgresql://postgres:YOUR_PASSWORD@YOUR_PROJECT_REF.supabase.co:6543/postgres?schema=public"
DATABASE_URL_PJMA="postgresql://postgres:YOUR_PASSWORD@YOUR_PROJECT_REF.supabase.co:6543/postgres?schema=public"

# Direct connection for Prisma Migrate/Studio (non-pooled, port 5432)
DIRECT_URL_PJME="postgresql://postgres:YOUR_PASSWORD@YOUR_PROJECT_REF.supabase.co:5432/postgres?schema=public"
DIRECT_URL_PJMA="postgresql://postgres:YOUR_PASSWORD@YOUR_PROJECT_REF.supabase.co:5432/postgres?schema=public"

GOOGLE_ID="your-google-client-id"
GOOGLE_SECRET="your-google-client-secret"

NEXTAUTH_SECRET="your-nextauth-secret"
NEXTAUTH_URL="http://localhost:4000/"

NEXT_PRIVATE_DEBUG_CACHE=1
NEXT_PUBLIC_PAGE_SIZE=30
SEARCH_LIMIT=50
PRODUCT_PINNED_LIMIT=4

# For service that use service account credential for google
GOOGLE_SERVICE_ACCOUNT_EMAIL="your-service-account-email@project.iam.gserviceaccount.com"
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"

# Google Spreadsheet id for feedback
SPREADSHEET_ID_FEEDBACK_INDO="your-spreadsheet-id-indo"
SPREADSHEET_ID_FEEDBACK_EN="your-spreadsheet-id-en"

NEXT_PUBLIC_MAX_DEVICE_RESETS_PER_PERIOD=3

# This timezone is only for ui, while for saved in db still use UTC timezone
NEXT_PUBLIC_TIMEZONE="Asia/Jakarta"

# Admin google ID for first seeder, this is id for owner admin
ADMIN_ID="your-admin-google-id"
